@page "/"
@namespace micro_canvas_framework.github.io.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="An open source canvas framework that is proposing better ways of creating and transforming organizations. Its main principles are: focus passionately on the customer's problems and needs, produce stackable, modular and self-validated canvases that are self-explanatory, and easy-to-use as guidance tools accessible to everyone.">
    <meta name="author" content="Luis Santiago and The MicroCanvas community">

    <title>The MicroCanvas Framework - A modular, extensible canvas framework</title>
    <base href="~/" />

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <link href="~/css/landing-page.min.css" rel="stylesheet" />
    <link rel="manifest" href="manifest.json">


</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script>
        $(function () {
            $('li[class^="type-"]').mouseover(function () {
                var currentClass = $(this).attr('class').split(' ')[0];
                if (currentClass != 'empty') {
                    $('.main > li').addClass('deactivate');
                    $('.' + currentClass).removeClass('deactivate');
                }
            });

            $('li[class^="cat-"]').mouseover(function () {
                var currentClass = $(this).attr('class').split(' ')[0];
                $('.main > li').addClass('deactivate');
                $('.' + currentClass).removeClass('deactivate');
            });

            $('.main > li').mouseout(function () {
                var currentClass = $(this).attr('class').split(' ')[0];
                $('.main > li').removeClass('deactivate');
            });

        });
    </script>
</body>
</html>
