@page "/framework"

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <h2 class="mb-5">Elementary Components of the MicroCanvas&reg; Framework</h2>
        <div class="row">
            <div class="col-md-8 text-white bg-info">
                Organization
            </div>
            <div class="col-md-2 text-white bg-warning">
                Market
            </div>
            <div class="col-md-2 text-white bg-danger">
                Forces
            </div>
        </div>
        <div class="row top-buffer">
        </div>
        <div class="row">
            <div class="col-md-8 text-white bg-purple">
                Structural Building Components
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="row top-buffer">
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card text-white bg-purple mb-3">
                    <div class="card-header">OL</div>
                    <div class="card-body">
                        <h5 class="card-title">Organization Leadership</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-purple mb-3">
                    <div class="card-header">GP</div>
                    <div class="card-body">
                        <h5 class="card-title">Goals and Purpose</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-purple mb-3">
                    <div class="card-header">OKRs</div>
                    <div class="card-body">
                        <h5 class="card-title">Objectives &amp; Key Results</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-purple mb-3">
                    <div class="card-header">GMs</div>
                    <div class="card-body">
                        <h5 class="card-title">Growth Metrics</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-header">MS</div>
                    <div class="card-body">
                        <h5 class="card-title">Market Segments</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">DF</div>
                    <div class="card-body">
                        <h5 class="card-title">Disruption Factors</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card text-white bg-purple mb-3">
                    <div class="card-header">PC</div>
                    <div class="card-body">
                        <h5 class="card-title">Problems or Challenges</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-purple mb-3">
                    <div class="card-header">SA</div>
                    <div class="card-body">
                        <h5 class="card-title">Solution Alternatives</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-purple mb-3">
                    <div class="card-header">CS</div>
                    <div class="card-body">
                        <h5 class="card-title">Cost Structure</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-purple mb-3">
                    <div class="card-header">RS</div>
                    <div class="card-body">
                        <h5 class="card-title">Revenue Structure</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-header">KP</div>
                    <div class="card-body">
                        <h5 class="card-title">Key Partners</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">RF</div>
                    <div class="card-body">
                        <h5 class="card-title">Risk Factors</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row top-buffer">
        </div>
        <div class="row">
            <div class="col-md-8 text-white bg-success">
                Vector Components
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
        </div>
        <div class="row top-buffer">
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">EF</div>
                    <div class="card-body">
                        <h5 class="card-title">Exponential Factors</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">UA</div>
                    <div class="card-body">
                        <h5 class="card-title">Unique Advantages</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">OA</div>
                    <div class="card-body">
                        <h5 class="card-title">Operational Activities</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">MA</div>
                    <div class="card-body">
                        <h5 class="card-title">Marketing Activities</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-header">DC</div>
                    <div class="card-body">
                        <h5 class="card-title">Delivery Channels</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">EF</div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Contextual Factors
                        </h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">KIM</div>
                    <div class="card-body">
                        <h5 class="card-title">Impact Metrics</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">LA</div>
                    <div class="card-body">
                        <h5 class="card-title">Legal Activities</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">SA</div>
                    <div class="card-body">
                        <h5 class="card-title">Sale Activities</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">FA</div>
                    <div class="card-body">
                        <h5 class="card-title">Finantial Activities</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-header">ES</div>
                    <div class="card-body">
                        <h5 class="card-title">External Stakeholders</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">RF2</div>
                    <div class="card-body">
                        <h5 class="card-title">Regulatory Factors</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-white bg-dark">
                Tech
            </div>
        </div>
        <div class="row top-buffer">
        </div>
        <div class="row">
            <div class="col-md-8 text-white bg-info">
                Internally-focused
            </div>
            <div class="col-md-2 text-white bg-warning">
                Market-facing
            </div>
            <div class="col-md-2 text-white bg-danger">
                Disruptive facing
            </div>
        </div>
        <div class="row top-buffer">
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">PS</div>
                    <div class="card-body">
                        <h5 class="card-title">Product or Service</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">ERP</div>
                    <div class="card-body">
                        <h5 class="card-title">Organizational Resources</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">CRM</div>
                    <div class="card-body">
                        <h5 class="card-title">Customer Relationship</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">CSI</div>
                    <div class="card-body">
                        <h5 class="card-title">Comm and Servers</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-header">CSp</div>
                    <div class="card-body">
                        <h5 class="card-title">Customer Support</h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>