@page "/"

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="ow">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">The MicroCanvas&reg; Framework</h1>
                <h2 class="mb-5">
                    A simple, modular set of standards and tools to transform the way organizational processes are created and transformed for scalable exponential impact and growth.
                </h2>
            </div>
        </div>
    </div>
</header>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/aerial-shot-building-business-2226458.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Why is a canvas framework necessary?</h2>
                <p class="lead mb-0">
                    The development of the intermodal shipping container ushered in a global revolution that redefined the transportation of goods. From the size of bridges, planes, trains and ships to cranes, how ports were designed and the global economy, all these advanced came to being when the simple container box was standardized. In the same way, we believe in order to massively accelerate how organizations are built and transformed for the 21st century, standard interoperable and easy to use and understand organizational development aids need to be improved.<br /> <br />

                    This way <b>scalable</b>, <b>easier to automate </b> and improved tools can be built to aid entrepreneurs globally to usher in innovations that accelerate solution to local and global challenges.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/black-and-white-black-and-white-community-9816.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>The MicroCanvas&reg; is for the next billion organizations</h2>
                <p class="lead mb-0">
                    Creating a new or transforming an existing organization for exponentially accelerated growth will become, by necessity, the standard way of producing impact. Understanding how to do this should be as easy and simple as downloading the microcanvas&reg; file you need from this website. No matter where you call home, what you do, or how high is your income or educational level.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style=" background-image: url('img/adventure-ahead-arrow-66100.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>We're inspired by a set of guiding principles</h2>
                <p class="lead mb-0">1. Focus passionately on the customer's problems and needs. 2. Produce stackable, modular and self-validated canvases that are self-explanatory and easy-to-use as guidance tools accessible for free to everyone.</p>
            </div>
        </div>
    </div>
</section>
<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-puzzle m-auto text-primary"></i>
                    </div>
                    <h3>Modular</h3>
                    <p class="lead mb-0">A MicroCanvas&reg; it's modular. An organization should only need to work with the canvases where the product, project or idea its not conforming to the MicroCanvas&reg; self-assesments.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                    </div>
                    <h3>Interlocking</h3>
                    <p class="lead mb-0">A MicroCanvas&reg; defines an interlock with clearly defined inputs and outputs, so it can connect to other micro canvases.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-notebook m-auto text-primary"></i>
                    </div>
                    <h3>Self-Explanatory</h3>
                    <p class="lead mb-0">When using a MicroCanvas&reg;, the user doesn't need help from anyone. The process through which the MicroCanvas produces its outputs should be clearly defined with such clarity that the user should be able to understand it regardless of culture, business background or technical expertise.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-check m-auto text-primary"></i>
                    </div>
                    <h3>Self-assessment</h3>
                    <p class="lead mb-0">
                        A MicroCanvas&reg; includes a self-assessment to validate the need for the current output to conform with that MicroCanvas expected result.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-power m-auto text-primary"></i>
                    </div>
                    <h3>Offline</h3>
                    <p class="lead mb-0">A MicroCanvas&reg; works offline, without the aid of any technical or technological infrastructure. The user experience can, nonetheless, be improved with the use of technology.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-lock m-auto text-primary"></i>
                    </div>
                    <h3>Isolation</h3>
                    <p class="lead mb-0">A MicroCanvas&reg; works by itself in isolation, so long as necessary inputs conform to the required standards defined by the canvas itself.</p>
                </div>
            </div>
        </div>
    </div>
</section>