@page "/"

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="ow">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">The MicroCanvas&reg; Framework</h1>
                <h2 class="mb-5">
                    Tools to transform how organizations are created and transformed for scalable exponential impact and growth.
                </h2>
            </div>
        </div>
    </div>
</header>

