@inherits LayoutComponentBase

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white">
        <h5 class="my-0 mr-md-auto font-weight-normal">The MicroCanvas&reg; Framework &nbsp; <sup class="badge badge-danger">alpha v0.3.0</sup></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <NavLink class="p-2 text-dark" href="/">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="p-2 text-dark" href="/about">
                <span class="oi oi-plus" aria-hidden="true"></span> About
            </NavLink>
            <NavLink class="p-2 text-dark" href="/framework">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Framework
            </NavLink>
        </nav>
        @*<a class="btn btn-outline-primary" href="#">Sign up</a>*@
    </div>
